src:
  url("https://www.epicgolfclub.com/epicgolfclubfont/EGC-SansRegular.ttf") format("truetype");


@font-face {
  font-family: "Epic Golf Club Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
;
}

@font-face {
  font-family: "Epic Golf Club Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
;
}
